*.csv
*.DS_Store
*.log
*.RData    
*.Rhistory
*.json 
*old*
*OLD*
.claude
CLAUDE.md

*.rds
!fullyBayesianModel_A_spec_*.rds


fullyBayesianModel_A

climate_writeup_2025_brill_wyner

### no images to GitHub
*.jpg
*.png
*.gif
*.jpeg
